@model DBFirstDemo.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Student</h1>

<h4>Student Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Roll" class="control-label"></label>
                <input asp-for="Roll" class="form-control" />
                <span asp-validation-for="Roll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuName" class="control-label"></label>
                <input asp-for="StuName" class="form-control" />
                <span asp-validation-for="StuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuGender" class="control-label"></label>
                <input asp-for="StuGender" class="form-control" />
                <span asp-validation-for="StuGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuDob" class="control-label"></label>
                <input type="date" asp-for="StuDob" class="form-control" />
                <span asp-validation-for="StuDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuPhone" class="control-label"></label>
                <input asp-for="StuPhone" class="form-control" />
                <span asp-validation-for="StuPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
